@use "../../constants/colors.scss";

.game {
  &-tile {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.75);
    transition: transform 0.2s;
    margin: 20px;
    background-color: colors.$main-bg;
    height: 400px;
    width: 200px;

    &:hover {
      transform: scale(1.05);
    }
  }

  &-image {
    min-height: 240px;
    height: 240px;
  }

  &-title {
    font-size: 1.25rem;
    margin: 0;
    height: 3em;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &-played-time {
    color: #000000;
    text-shadow: 1px 1px 2px #fff;
    margin: 5px 0;
  }
  &-played-year {
    color: #888;
    font-size: 0.9em;
    margin: 5px;
  }

  &-played-time, &-played-year {
    text-align: left;
    padding: 0 20px;
  }
}
