.card {
    width: 1024px;
    background-color: rgba($color: #203047, $alpha: 0.8);
    box-sizing: border-box;
    padding: 20px;
    overflow: hidden;

    &_content {
        display: flex;
    }

    .title {       
        color: rgb(175, 175, 175);
        font-size: 26px;
        line-height: 32px;
        text-overflow: ellipsis;
        font-family: "Motiva Sans", Sans-serif;
        font-weight: normal;
        padding-left: 0px;
        margin-bottom: 20px;
        font-weight: 700;
        text-shadow: 3px 3px 1px #000;
    }

    .image_wrapper {
        display: flex;
        padding: 20px;
    }

    img {
        width: 258px;
        height: 320px;
    }
    .description_wrapper {
        text-align: left;
        padding: 10px;
    }

    .description {
        text-align: justify;
        font-weight: 500;
        font-size: 24px;
        text-shadow: 2px 2px 1px #000;
        text-justify: auto;
        margin-bottom: 20px;
    }

    .genres {
        margin-bottom: 20px;
        color: #030a13;
        font-size: 20px;
        font-weight: 500;
        text-shadow: 1px 1px 7px #fff;

    }

    .release {
        color: rgb(184, 184, 141);
        font-weight: 500;
        margin-bottom: 30px;
    }
    .developers {
        color: beige;
        margin-bottom: 20px;
    }

    .button {
        width: 65px;
        padding: 10px 20px;
        background: linear-gradient(90deg, rgba(62, 103, 150, 0.919) 11.38%, rgba(58, 120, 177, 0.8) 25.23%, rgb(15, 33, 110) 100%);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        text-shadow: 5px 3px 5px #000;

    }
}