.search_container {
  position: relative;
  display: flex;
  align-items: center;
  width: 260px;
  margin: 10px;

  .lense_wrapper {
    position: absolute;
    left: 10px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    cursor: pointer;
    padding: 8px 16px;
    display: flex;
    transition: transform 0.5s;

    &.movies {
      left: initial;
      right: 10px;
    }
  
    &:hover {
      transform: scale(1.3);
    }
  }

  .search_input {
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.25s ease;
    padding: 12px 65px;

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
      outline: none;
      background: rgba(255, 255, 255, 0.15);
      border-color: rgba(255, 255, 255, 0.2);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
  }

  .icon_wrapper {
    position: absolute;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    transition: transform 0.5s;
    padding: 8px 16px;
    display: flex;
    overflow: hidden;

    &:hover {
      color: #fff;
      transform: rotateY(360deg);
    }
      
    svg {
      font-size: 30px;
    }

    &.games {
      right: 7px;
    }

    &.movies {
      left: 7px;
    }
  }
}
