.section {
  form {
    position: relative;

    .requestMessage {
      position: absolute;
      background-color: chartreuse;
      width: 100%;
      bottom: -3em;
      height: 2em;
      opacity: 0;

      &.redErrorMessage {
        animation: error 4s linear;
        background-color: red;
      }
    }
  }

  @keyframes error {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  background-color: #2e3440;
  margin: 0 auto;
  width: 90%;
  padding: 25px;
  input {
    margin-bottom: 10px;
    font-size: 22px;
    padding: 5px;
    outline: none;
  }
  .gender {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;

    .subTitle {
      width: 100%;
      margin: 10px;
    }
  }

  .submit {
    background-color: #d9991a;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
    min-width: 120px;
    transition: opacity 0.375s;

    &:hover {
      opacity: 0.75;
    }
  }
}
